<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - ADSO Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-color: #dbdbdb;
        }

        .inicio-card {
            border: none;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        }

        .btn-dark:hover {
            background-color: #23272b;
        }
    </style>
</head>

<body>

    <div class="container mt-5">

        <!-- Mensajes -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
        {% endif %}

        <!-- Panel principal -->
        <div class="card inicio-card p-4 mb-5 text-center">

            <h2 class="fw-bold mb-2">Bienvenido al Panel Principal</h2>
            <p class="text-muted mb-4">Has iniciado sesión correctamente.</p>

            <div class="row g-2">

                <div class="col-md-6 ">
                    <a href="{% url 'inventario_lista' %}" class="btn btn-success w-100">
                        Inventario
                    </a>
                </div>

                <div class="col-md-6">
                    <a href="{% url 'perfil' %}" class="btn btn-primary w-100">
                        Perfil
                    </a>
                </div>

            </div>

        </div>

        <!-- Productos -->
        <h3 class="mb-4">Productos disponibles</h3>

        <div class="row">

            {% for p in inventario %}
            <div class="col-md-2 mb-2">

                <div class="card shadow-sm h-100">
                    <div class="card-body">

                        <h5 class="card-title">{{ p.nombre }}</h5>

                        <p class="card-text">
                            Precio: ${{ p.precio }}<br>
                            Cantidad: {{ p.cantidad }}
                        </p>

                    </div>
                </div>

            </div>
            {% empty %}
            <p>No hay productos todavía.</p>
            {% endfor %}

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>